.header {
  grid-area: h;
  background-color: cornflowerblue;
 
  }
  
  .header img {
    width: 50px;
    margin: 10px;
    
  }

    .loginBlock {
      float: right;
      color: goldenrod;
    }

    .loginBlock a:visited {
      color: black;
    } 