.nav {
    grid-area: n;
    background-color: cyan;
    padding: 20px;
  }

.nav a {
        color: wheat;
        text-decoration: none;
    }

.nav a.active {
        color: goldenrod;
    }

.nav :hover {
        color: goldenrod;
    } 