.nav {
    grid-area: n;
    background-color: aqua;
    padding: 20px;
    min-height: 90vh;
}

.item a {
    color: darkolivegreen;
    text-decoration: none;
}

.item a.activeLink {
    color: darkblue;
}