.app-wrapper {
  margin: 0 auto;
  display: grid; 
grid-template-areas: 
"h h"
"n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  
}

.app-wrapper a:visited {
  color:green;
}

.app-wrapper a:hover {
  color:goldenrod;
}

.app-wrapper-content {
  grid-area: c;
    background-color: rgb(49, 62, 90);
    color: goldenrod;
}

.app-wrapper-content img {
  width: 1600px;
  height: 200px;
}









