.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    text-decoration: none;
}

.dialogItem {
padding: 10px;
}

.dialog {
    text-decoration: none;
}

.dialog :active {
    color:yellowgreen;
    } 


.messages {
padding: 3px;
} 

.messages :active {
    color:yellowgreen;
    } 

