.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog {

}

.item {
    padding: 10px;
}

.item .active {
    color: darkblue;
}

.item a {
    color: darkblue;
    text-decoration: none;
}

.messages {

}

.message {
    padding: 10px;
}